ul.actions.stacked.tight li {
    padding: 0.5rem 0 0 0;
}

#corner-popup .corner-head {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #543189;
}

#corner-popup .corner-img {
    border-radius: 2%;
}