<!-- Items -->
<section class="wrapper style1 align-center">
    <div class="inner">
        {{ with .title }}<h2>{{ . }}</h2>{{ end }}
        {{ with .embed }}
            {{ with .label }}<h3>{{ . }}</h3>{{ end }}
            <section>
                {{ .content | safeHTML }}
            </section>
        {{ end }}
        <div class="items {{ .style }}">
            {{ range .embeds }}
                <section>
                    <h3>{{ .label }}</h3>
                    {{ .content | safeHTML }}
                </section>
            {{ end }}
        </div>
    </div>
</section>